.white-section{
    background: rgba(255,255,255,0.4);
    padding: 10px;
}
.white-section-cover{
    border: 5px solid white;
    padding: 15px;
}
.main_text > span{
    margin: 0;
    color: white;
    font-size: 2.5em;
    text-align: left;
    font-weight: bolder;
    letter-spacing: -3px;
}
.back{
    background-size: cover;
    background-position:  center;
    /*background: url("../assets/bg2.jpg") center;*/
}
.par{
    position: relative;
    top:200px;
}
.card-item{
    height: 300px;
    width: 250px;
    padding-top: 80px;
    text-align: center;
    color: #FFF;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 10px;
    background-size: cover;
    background: url("https://www.pexels.com/photo/4458/download/?search_query=blog&tracking_id=yg0e5xhzzf") center;
}
.gg > hr{
    margin-bottom: 0;
}
/*
.cart-item > div{
    background: rgba(0, 0, 0, 0.3);
    height: 300px;
    width: 250px;
}
.card-item > div:hover{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}*/
