.bgimg{
  height: 100%;
  width:100%;
  background-image: url("../assets/bg1.jpg");
  background-position: center;
  background-size: cover;
  position: fixed;
}
.bgColor{
  background: rgba(0,0,0,0.8);
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  top: 0;
  position: relative;
}
.white-section{
  background: rgba(255,255,255,0.4);
  padding: 10px;
}
.white-section-cover{
  border: 5px solid white;
  padding: 15px;
}
.main_text > span{
  margin: 0;
  color: white;
  font-size: 2.5em;
  text-align: left;
  font-weight: bolder;
  letter-spacing: -3px;
}