.the-container {
    background-size: cover;
    cursor: pointer;
    /*background-*/
}

.the-container-cover {
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 250px;
    padding: 18px;
}

.the-container-cover:hover {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}