.covering{
    background-size: cover;
    border-radius: 7px;
    height: 370px;
    margin-top: 25px;
    background-position: center;
}
.covering-back{
    background: rgba(0,0,0,0.3);
    padding: 2% 10%;
    border-radius: 7px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    -webkit-transition: all ease 0.6s;
    -moz-transition: all ease 0.6s;
    -ms-transition: all ease 0.6s;
    -o-transition: all ease 0.6s;
    transition: all ease 0.6s;
}
.covering-back:hover{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.7));
}